/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  /* outline: 1px solid black; */
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  background-image: url("img/cosmo.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}


.main__container {
  margin: 100px 30px;
  opacity: 0.7;
}

.choose_sign, 
.choose_day {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.main__button {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.input_data {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: baseline;
}

.horoscope_picture {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.horoscope_information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

img {
  height: 100px;
  width: 100px;
  transform: scale(.8);
  transition: .5s ease;
  opacity: 1;
  box-shadow: 5px 5px 15px rgba(0,0,0, .9);
  border-radius: 120px;
  max-width: 100%;
}

img:hover {
  transform: scale(1);
}

button {
  border-radius: 5px !important;
  border: none !important; 
  margin: 15px 0;
  padding: 10px 10px;
}

select {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

label {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

#horoscope__sign,
h3,
label {
  color: yellow;
}

span {
  color: white;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* ----------- iPhone 4 and 4S ----------- */
